
/* ===========================================
 * All wordpress styles related
 * =========================================== */

/*
 *
 * ==================================== */

.cd-modal-content {

    .dyn-content {

        .wp-img {

            display: inline-block;
            margin: 0;

            &.alignleft {float: left; margin-right: 20px;}
            &.alignright {float: right; margin-left: 20px;}
            &.aligncenter {
                display: block;
                text-align: center;
            }
            // images
            img {
                height: auto; // keeps ratio
                margin-bottom: 10px;
                max-width: 100%;
            }
            .aligncenter {display: inline-block;}
            .alignnone,
            .alignright,
            .alignleft {

                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

        }
    }

    @include mq('sm') {

        padding: 4em 10% 4em;
    }

    @include mq('lg') {

       .dyn-content {

            .wp-video {

                margin: 0 auto;
                width: 75%;
            }
        }

    }
}
