<!-- The page icon -->
<span class="elt-icon icon-bg">
    <svg class="icon"><use xlink:href="images/svg/svg-defs.svg#shapes-papers" /></svg>
</span>
<h3 class="page-title">Collecte de papiers sur place</h3>
<div class="page-content">

    write to us
    <!-- <div class="ng-hide" ng-show="!isLoading">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, beatae ducimus possimus nulla soluta, est, quos illum non totam dignissimos doloribus praesentium maxime mollitia recusandae minus voluptate provident delectus sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
    </div> -->
</div>