
/* ===========================================
 * Specific rules for Header
 * =========================================== */

/* Specific rule section
 * ==================================== */

.hero-cover {

    background-size: cover;
    height: 300px;
    min-height: 300px;
    text-align: center;
    position: relative;

    &::after {

        background: $black;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.45;
        position: absolute;
        top: 0;
        width: 100%;
    }

    //@TODO: To use for all icons everywhere
    .icon-elt {

        display: inline-block;
        margin-bottom: 30px;
        max-width: 300px;
        min-width: 280px;

        .icon {

            display: block;
            height: 100%;
            transition: $default-transition;
            width: 100%;
        }
    }

    // Logo and Text above the overlay
    .icon-elt,
    .header-text {

        position: relative;
        z-index: 1;
    }

    // Header text

    .header-text {

        font-size: 16px;
        transition: $default-transition;
    }

    // Responsiveness spices
    @include mq('xs') {

        .icon-elt {
            min-width: 350px;
        }

        .header-text {
            font-size: 20px;
        }
    }

    @include mq('md') {

        min-height: 450px;

        .icon-elt {

            margin-bottom: 110px;
            min-width: 400px;
        }

        .header-text {
            font-size: 28px;
        }
    }


}

/* Modal
 * ==================================== */

.cd-modal-content {

    // Icon used as background
    .icon-bg .icon {

        // fill: currentColor;
        height: 450px;
        left: 0;
        margin: 0 auto;
        right: 0;
        opacity: 0.15;
        top: -20px;
        position: absolute;
        width: auto;
        z-index: 0;
    }

    .page-title {

        font-size: 32px;
        font-weight: bold;
        margin-bottom: 60px;
        position: relative;
        text-align: center;
        text-shadow: 0px 3px 1px rgba(0,0,0,0.3);
        z-index: 1;
    }

    .page-content {

        position: relative;
        text-align: left;
        z-index: 2;

        li,
        p {

            font-size: 20px;
            transition: $default-transition;
        }

        p {
            margin-bottom: 30px;
        }

        // Style list
        ol,
        ul {padding-left: 40px;}

        ul li {list-style-type: disc;}
        ol li {list-style-type: decimal;}
        li {

            list-style-type: disc;
            margin-bottom: 10px;
        }

    }
    // WP
    .article-content {

        font-size: 18px;
        line-height: 1;
    }

    // Responsiveness
    @include mq('sm') {

        .page-title {

            font-size: 40px;
        }
        .icon-bg .icon {

            width: 450px;
        }
        // WP
        .article-content {

            font-size: 24px;
            line-height: 1.5;
        }

        .page-content {

            li,
            p {
                font-size: 24px;
            }
        }
    }

}

.cd-modal {

    &.secondary {

        .cd-svg-bg {
            svg > path {
                fill: lighten($secondary-color, 5%);
            }
        }
    }

     &.tertiary {

        .cd-svg-bg {
            svg > path {
                fill: lighten(mix($primary-color, $secondary-color), 5%);
            }
        }
    }
}

// Theming
.cd-cover-layer {

    &.primary {

        background: $primary-color;
    }

    &.secondary {

        background: $secondary-color;
    }

    &.tertiary {

        background: mix($primary-color, $secondary-color);
    }
}