
/* ===========================================
 * Specific rules for Footer
 * =========================================== */

/* Specific rule section
 * ==================================== */


.footer {

    background: rgba($secondary-color, 0.8);
    min-height: 60px;
    text-align: center;

    .footer-links__item {

        color: $white;
        border-right: 1px solid $white;
        display: inline-block;
        padding: 0 20px;

        &:first-child {

        }
        &:last-child {

            border-right: none;
            padding-right: 0;
        }

        a {
            color: $white;
            text-decoration: none;
            transition: color $animation-duration;

            &:hover {

                color: $primary-color;
                text-decoration: none;
            }
        }

    }

    // @TODO: read about margin collapse : https://css-tricks.com/what-you-should-know-about-collapsing-margins/
    // Copyrights text
    .footer-cpr {

        padding: 30px 0 20px;
    }

}