<li ng-message="required"><span class="elt-icon icon-error">
    <svg class="icon"><use xlink:href="/images/svg/svg-defs.svg#shapes-error" /></svg>
</span>Ce champ est obligatoire.</li>
<li ng-message="pattern"><span class="elt-icon icon-error">
    <svg class="icon"><use xlink:href="/images/svg/svg-defs.svg#shapes-error" /></svg>
</span>Ce champ est invalide.</li>
<li ng-message="minlength"><span class="elt-icon icon-error">
    <svg class="icon"><use xlink:href="/images/svg/svg-defs.svg#shapes-error" /></svg>
</span>Ce champ requiert au moins 3 caractères.</li>
<li ng-message="maxlength"><span class="elt-icon icon-error">
    <svg class="icon"><use xlink:href="/images/svg/svg-defs.svg#shapes-error" /></svg>
</span>Ce champ excède le maximum de 30 caractères autorisés.</li>
